# Github Specific Files like workflows
/.github/ @Advay17

# Pathplanner Specific Files
/src/main/deploy @shreshtaparthaje
/src/main/java/frc/robot/util/LocalADStarAK.java @shreshtaparthaje

# Vision Specific Files
/src/main/java/frc/robot/subsystems/vision/ @Advay17 @314PiGuy

# Drivetrain
/src/main/java/frc/robot/subsystems/drive/ @Rohit1046

# Mechanism Specific Files
/src/main/java/frc/robot/subsystems/arm/ @Advay17 @shreshtaparthaje @Rohit1046
/src/main/java/frc/robot/subsystems/elevator/ @Advay17 @shreshtaparthaje @Rohit1046
/src/main/java/frc/robot/subsystems/endeffector/ @Advay17 @shreshtaparthaje @Rohit1046
/src/main/java/frc/robot/commands/PresetCommands.java @Advay17 @shreshtaparthaje @Rohit1046

# Sim Specific Files
/src/main/java/frc/robot/subsystems/*/*sim.java @Advay17 @314PiGuy
/src/main/java/frc/robot/subsystems/SimMechanism.java @Advay17 @314PiGuy

# LED Specific Files
/src/main/java/frc/robot/commands/led/ @Advay17

/src/main/java/frc/robot/util/*Util.java @Rohit1046

